@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Karla:wght@800&display=swap');

:root {
    --bgColour: #1F2937;
    --textColour: #fff;
    --accentColour: #4ADF86;
    --btnColour: #10B981;
    --borderColour: #2F3E53;
    --passBgColour: #273549;
    --passTxtColour: #5DEF92;
    --karla: 'Karla', sans-serif;
    --inter: 'Inter', sans-serif;
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24
}

nav {
    text-align: right;
    margin: 1em;
}

body {
    margin: 1em;
    padding: 0;
    box-sizing: border-box;
    color: var(--textColour);
    background: var(--bgColour);
    font-family: var(--inter);
    font-weight: 500;
}

h1 {
    font-family: var(--karla);
    font-size: 40px;
}

.content {
    max-width: 30em;
    margin: 2em auto;
}

.content span {
    color: var(--accentColour);
}

.content p {
    font-weight: 400;
    font-size: 1.25rem;
}

form {
    display: flex;
    flex-flow: column wrap;
    gap: 0.5em;
}

button {
    border: none;
    border-radius: 6px;
    background-color: var(--btnColour);
    color: var(--textColour);
    padding: 0.5em 1em;
    margin: 1em 0;
    max-width: 211px;
}

label,
legend {
    font-weight: 400;
    font-size: 14px;
}

input {
    border: 1px solid var(--borderColour);
    border-radius: 5px;
    width: 40px;
}

fieldset {
    margin-top: .5em;
    width: fit-content;
    display: flex;
    flex-flow: row wrap;
    gap: 1em;
}

input[type="checkbox"]:checked {
    accent-color: var(--btnColour);
}

.error-msg {
    font-size: small !important;
    color: var(--accentColour);
}

hr {
    border: none;
    border-bottom: 1px solid var(--borderColour);
    margin: 1em 0;
}

.passwords-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.password {
    /* border: 1px solid yellow; */
    flex: 0 0 auto;
    width: 190px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cursor-point {
    cursor: pointer;
}

.display--container {
    background-color: var(--passBgColour);
    color: var(--passTxtColour);
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: .5em;
}